# Application Bungie : https://www.bungie.net/en/Application
# 1) API Key de l'application
BUNGIE_API_KEY=
# 2) OAuth client_id (visible dans les détails de l'app)
BUNGIE_CLIENT_ID=
# 3) OAuth client_secret (client type "Confidential" uniquement)
BUNGIE_CLIENT_SECRET=
